footer {
    font-size: 0.9em;
    display: flex;
    width: 100%;
    position: absolute;
    left: 0;
    justify-content: center;
    background-color: rgb(243, 63, 8);
    padding: 0px;    
  }

  img {
    width: 35px;
    height: 35px;
    padding: 0.4em;
    vertical-align: middle;
  }

  .footer div {
      padding: 7px;
      color: rgb(243, 243, 243);
      font-size: 1.1em;
  }