<!-- <div *ngIf="employee">

    <h2>{{employee.fname | uppercase}} {{employee.lname | uppercase}}
    Details</h2>
    
    <div><span>id: </span>{{employee.id}}</div> 
    <div>
    <label for="employee-fname">Employee first name: </label>
    <input id="employee-fname" [(ngModel)]="employee.fname"
    placeholder="fname">
    <br>
    <label for="employee-lname">Employee last name: </label>
    <input id="employee-lname" [(ngModel)]="employee.lname"
    placeholder="lname">
    
    </div>
    
    </div> -->
