<h2>My Staff</h2>
<div class="wrapper">
<div>
<table class="employees">
    <tr class="mainrow"><th>Check all</th><th>Employee ID</th><th>First Name</th><th>Last Name</th><th>Date of birth</th><th>Salary</th><th>E-mail</th></tr> 
    <tr *ngFor="let employee of employees" class="employees">

      <td class="employees"><input type="checkbox"></td>
      
      <td class="employees"><a routerLink="/detail/{{employee.id}}">{{employee.id}}</a></td>
      
      <td class="employees"><a routerLink="/detail/{{employee.id}}">{{employee.fname}}</a></td>
      
      <td class="employees"><a routerLink="/detail/{{employee.id}}">{{employee.lname}}</a></td>
      
      <td class="employees"><a
      routerLink="/detail/{{employee.id}}">{{employee.dateofbirth}}</a></td>
      
      <td class="employees"><a routerLink="/detail/{{employee.id}}">{{employee.salary}}</a></td>
      
      <td class="employees"><a routerLink="/detail/{{employee.id}}">{{employee.email}}</a></td>
      
      </tr>    
</table>
</div>
<!-- <ul class="employees">
  <li *ngFor="let employee of employees" [class.selected]="employee === selectedEmployee" (click)="onSelect(employee)">
    <span class="badge">{{employee.id}}</span> {{employee.fname}} {{employee.lname}} 
  </li>
</ul> -->

<app-employee-detail [employee]="selectedEmployee"></app-employee-detail>

</div>
<div>
<!-- <app-sendemail [employee]="selectedEmployee"></app-sendemail> -->
</div>
<!-- <div *ngIf="selectedEmployee">
  <h2>{{selectedEmployee.fname | uppercase}} {{selectedEmployee.lname | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedEmployee.id}}</div>
  <div>
    <label for="employee-fname">Employee first name: </label>
    <input id="employee-fname" [(ngModel)]="selectedEmployee.fname" placeholder="fname">
    <br>
    <label for="employee-lname">Employee last name: </label>
    <input id="employee-lname" [(ngModel)]="selectedEmployee.lname" placeholder="lname">
  </div>
</div> -->

