
<h2>My Staff</h2>
<div>
    <label for="new-employee">Employee First Name: </label>
    <input id="new-employee" #employeeName />
  
    <!-- (click) passes input value to add() and then clears the input -->
    <button class="add-button" (click)="add(employeeName.value); employeeName.value=''">
      Add Employee
    </button>
    <br>
    <br>
  </div>

<div class="wrapper">
<table class="employees">
    <tr class="mainrow"><th>Check all</th><th>Employee ID</th><th>First Name</th><th>Last Name</th><th>Date of birth</th><th>Salary</th><th>E-mail</th></tr> 
    <tr *ngFor="let employee of employees" class="employees" [class.selected]="employee === selectedEmployee" (click)="onSelect(employee)">     
        <td class="employees"> 
        <td class="employees">{{employee.id}}</td> 
        <td class="employees">{{employee.fname}}</td>
        <td class="employees">{{employee.lname}}</td>
        <td class="employees">{{employee.dateofbirth}}</td>
        <td class="employees">{{employee.salary}}</td>
        <td class="employees">{{employee.email}}</td>
    </tr>     
</table>
</div>
<!-- <ul class="employees">
  <li *ngFor="let employee of employees" [class.selected]="employee === selectedEmployee" (click)="onSelect(employee)">
    <span class="badge">{{employee.id}}</span> {{employee.fname}} {{employee.lname}} 
  </li>
</ul> -->

<app-employee-detail [employee]="selectedEmployee"></app-employee-detail>

</div>
<!-- <div *ngIf="selectedEmployee">
  <h2>{{selectedEmployee.fname | uppercase}} {{selectedEmployee.lname | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedEmployee.id}}</div>
  <div>
    <label for="employee-fname">Employee first name: </label>
    <input id="employee-fname" [(ngModel)]="selectedEmployee.fname" placeholder="fname">
    <br>
    <label for="employee-lname">Employee last name: </label>
    <input id="employee-lname" [(ngModel)]="selectedEmployee.lname" placeholder="lname">
  </div>
</div> -->
